.title {
font-family:AvenirNextCyrBold;
font-size:26px;
color:#000;
display:block;
text-align:center;
padding-top:60px;
}

.subtitle {
text-align:center;
text-decoration:none;
font-size:15px;
font-family:AvenirNextCyrLight;
color:#999999;
padding-top:20px;
}

.menu-button-services {
.menu-about-text {
font-family:AvenirNextCyrBold;
text-align:center;
display:block;
color:#00adee;
font-size:45px;
}
.menu-about-text-sub {
font-family:AvenirNextCyrBold;
text-align:center;
display:block;
color:#00adee;
font-size:21px;
padding-bottom:30px;
}
}

.img-circle {
width:120px;
display:block;
margin:0 auto;
}