@font-face {
  font-family: AvenirNextCyrBold;
  src: url('../fonts/AvenirNextCyr-Bold.otf');
}

@font-face {
  font-family: AvenirNextCyrDemi;
  src: url('../fonts/AvenirNextCyr-Demi.otf');
}
@font-face {
  font-family: AvenirNextCyrLight;
  src: url('../fonts/AvenirNextCyr-Light.otf');
}