

body, html {}

.last-row {
margin-bottom:10%;}



.container {
padding-left:0px;padding-right:0px;
}
.box{height:230px;
}

@keyframes box-hover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about-us-box {
background-color:#4392f3;}

.services-box {
background-color:#00adee;
}
.works-box {
background-color:#54c8f3;
}

.contacts-box {background-color:#54c8f3;}


.first-row {margin-top:10%;}
.row {animation-name:box-hover;
animation-duration:2s;}

.head-box {height:230px;}
.highlight {
font-size:45px;
color:#ffffff;
.line {padding-left:50px;}
.line-padding {padding-top:30px;}
.first {font-family:AvenirNextCyrLight}
.second {font-family:AvenirNextCyrBold;}
}





  


.logo {float:left;}

.logo-text { list-style-type:none;
margin-bottom:0px;
li {
margin-left:80px;
font-family:AvenirNextCyrBold;
color:#ffffff;
font-size:21px;
}
}

.info-line {list-style-type:none;
float:right;
padding-top:30px;
li {
font-family:AvenirNextCyrBold;
color:#ffffff;
font-size:16px;
display:inline; 
}
}

.fb {padding-left:25px;}


.menu-button {
	.menu-text {font-family:AvenirNextCyrDemi;
	display:block;
	text-align:center;
	color:#ffffff;
	font-size:19px;
	text-transform:uppercase;
	letter-spacing:5px;
	padding-top:10px;
	text-decoration:none;
	}
.menu-icon {display:block;margin:0 auto;}
}

  .a {height:30.33%;}
  .b {height:36.33%;}
  .c {height:30.33%;}
  
  

.a {text-decoration:none;}




.hvr-shrink {

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


